.profile__edit-button {
  all: initial;
  min-width: 24px;
  min-height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 450px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
  }
}