.profile__add-button {
  all: initial;
  min-width: 146px;
  min-height: 46px;
  background-image: url(../../../images/Vector.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: solid 2px #fff;
}

.profile__add-button:hover {
  opacity: 60%;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 750px) {
  .profile__add-button {
    min-width: 282px;
    background-size: 16px 16px;
  }
}