.popup__close-preview {
  all: initial;
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__close-preview:hover {
  opacity: 60%;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 600px) {
  .popup__close-preview {
    top: -36px;
    right: 0;
    min-width: 20px;
    min-height: 20px;
  }
}