.footer {
  max-width: 880px;
  margin: 66px auto 60px;
}

@media screen and (max-width: 930px) {
  .footer {
    padding-left: 19px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
    padding-left: 0;
  }
}